:host {
  display: flex;
}
.profileBtn {
  font-size: 3.2rem;
  border: none;
  cursor: pointer;
}
.profileMenu {
  position: absolute;
  top: 100%;
  right: var(--padding-inline);
  background: var(--accent-color);
  color: var(--text-color);
  padding-block: 0.4rem;
  border-radius: 12px;
  width: 256px;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1.6rem;
  cursor: auto;
}
.profileMenu .username {
  color: var(--secondary-color);
}
.profileMenu > * {
  padding: 0.8rem 1.6rem;
  border-radius: 4px;
  transition: 0.4s;
}

.profileMenu a:hover {
  background-color: var(--hover-color);
  color: var(--secondary-color);
}
.profileMenu a:active {
  color: var(--primary-color);
}

.profileMenu .themeCont {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-radius: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.profileMenu .themeToggle {
  display: flex;
  gap: 1.2rem;
  border: 1px solid var(--text-color);
  border-radius: 50rem;
  font-weight: 400;
  overflow: hidden;
  position: relative;
}
.profileMenu .themeToggle button {
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
  transition: 0.4s;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}
.profileMenu .themeToggle button span {
  color: var(--secondary-color);
  padding: 0.4rem;
  border-radius: 50%;
  font-size: 1.8rem;
  transition: 0.4s;
  width: 26px;
  height: 26px;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
/* 
.profileMenu .themeToggle button span:hover {
  transform: rotate(360deg);
  transition: 2s;
} */
.profileMenu .themeToggle button span.sun.animate {
  animation: sun-move 1.2s ease-in-out forwards;
}
.profileMenu .themeToggle button span.moon.animate {
  animation: moon-move 1.2s ease-in-out forwards;
}

@keyframes sun-move {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    transform: translateY(-120%);
    opacity: 0;
  }
  41% {
    transform: translateY(120%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moon-move {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    transform: translateY(120%);
    opacity: 0;
  }
  41% {
    transform: translateY(-120%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.profileMenu .btnCont {
  padding: 0.8rem 1.6rem;
  width: 100%;
}
.profileMenu .logOutBtn {
  padding: 0.8rem 1.6rem;
  background-color: var(--secondary-color);
  color: var(--accent-color);
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.4s;
}
.profileMenu .logOutBtn:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}
.profileMenu .logOutBtn:active {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.profileMenu .themeBackgroundElement {
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--primary-color);
  left: var(--leftPostition);
  transition: 0.6s ease-in-out !important;
  z-index: 0;
}
.profileMenu a {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
}
.profileMenu a.mobile {
  display: none;
}
.profileMenu a.active {
  background-color: var(--hover-color);
}
.active {
  color: var(--primary-color);
}

.enter-animation {
  animation: slide-in 1s;
}
.leave-animation {
  animation: slide-out 1s;
}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
@media screen and (max-width: 768px) {
  .profileMenu a.mobile {
    display: flex;
  }

  .profileMenu {
    position: fixed;
    width: 250px;
    /* 8.4rem is fixed height of header */
    height: calc(100% - 8.4rem);
    top: 0;
    right: 0;
    margin-top: 8.4rem;
    justify-content: space-between;
    overflow-y: scroll;
    z-index: 10;
  }
  .profileMenu a,
  .profileMenu .themeCont {
    height: 100%;
  }
  profileMenu .profileBtn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 475px) {
  .profileMenu {
    width: 100%;
    left: 0;
    border-radius: 0;
    right: unset;
  }
}
