<section id="productsPage">
  <div class="heading">
    <h2 i18n="@@products.title">Products</h2>
    <button class="createProductsBtn" (click)="openAddModal()">
      <p i18n="@@products.addProduct">add product</p>
      <span class="material-symbols-outlined"> add </span>
    </button>
  </div>
  @if (isLoading()) {
    <app-loader></app-loader>
  } @else {
    <div class="products-container" [class.loading]="isLoading()">
      @for (product of products(); track product.id) {
        <div class="productsCard" animate.enter="show-animated-enter-cards">
          <div class="productsCardHeading">
            <h3>{{ product.name }}</h3>

            <button class="btn-secondary" (click)="toggleEditingState(product.id)">
              @if (editingId() === product.id) {
                @if (isUpdating()) {
                  <app-spinner></app-spinner>
                } @else {
                  <span class="material-symbols-outlined">cancel</span>
                  <p i18n="@@common.cancel">Cancel</p>
                }
              } @else {
                <span class="material-symbols-outlined">edit</span>
                <p i18n="@@common.edit">Edit</p>
              }
            </button>
          </div>

          <div class="nameCont">
            <label i18n="@@products.labelName" [for]="'name-' + product.id">Product:</label>
            <div class="inputCont">
              <input
                [id]="'name-' + product.id"
                name="productName"
                type="text"
                [readonly]="editingId() !== product.id"
                [class.editableInput]="editingId() === product.id"
                [class.error-input]="editingId() === product.id && !product.name"
                [(ngModel)]="product.name"
              />
              @if (editingId() === product.id && !product.name) {
                <span
                  i18n="@@error.empty"
                  class="error-msg"
                  animate.enter="show-animated-enter-error"
                  >Can't be empty</span
                >
              }
            </div>
          </div>

          <div class="priceCont">
            <label i18n="@@products.labelPrice" [for]="'price-' + product.id">Price:</label>
            <div class="inputCont">
              <input
                [id]="'price-' + product.id"
                name="price"
                type="number"
                [readonly]="editingId() !== product.id"
                [class.editableInput]="editingId() === product.id"
                [class.error-input]="
                  editingId() === product.id && (product.price === null || product.price < 0)
                "
                [(ngModel)]="product.price"
                min="0"
              />
              @if (editingId() === product.id) {
                @if (product.price === null) {
                  <span
                    i18n="@@error.priceReq"
                    class="error-msg"
                    animate.enter="show-animated-enter-error"
                    >Price required</span
                  >
                } @else if (product.price < 0) {
                  <span
                    i18n="@@error.negative"
                    class="error-msg"
                    animate.enter="show-animated-enter-error"
                    >Can't be negative</span
                  >
                }
              }
            </div>
          </div>

          <button
            type="submit"
            class="btn-primary"
            [disabled]="
              isLoading() ||
              editingId() !== product.id ||
              !product.name ||
              !product.price ||
              product.price < 0
            "
            [class.saving]="isUpdating() && editingId() === product.id && actionType() === 'update'"
            [class.disabled-btn]="editingId() !== product.id"
            (click)="updateProduct(product)"
          >
            <p i18n="@@common.save">Save</p>
          </button>

          <button
            class="btn-primary del"
            [class.saving]="actionType() === 'delete'"
            (click)="onDelete(product.id)"
            i18n="@@products.deleteProduct"
          >
            Delete Product
          </button>
        </div>
      }
    </div>
  }
</section>
@if (showAddModal()) {
  <div
    class="confirm-backdrop"
    id="addProductModal"
    animate.enter="scale-in-animation"
    animate.leave="scale-out-animation"
  >
    <div class="confirm-box add-modal-box">
      <div class="modal-header">
        <h3 i18n="@@products.addProduct">Add Product</h3>
        <button class="close-btn" (click)="closeAddModal()">
          <span class="material-symbols-outlined">close</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="input-group">
          <label for="new-name" i18n="@@common.name">Name</label>
          <input
            id="new-name"
            type="text"
            [(ngModel)]="newProduct.name"
            [class.error-input]="showFormErrors() && !newProduct.name"
            placeholder="Product name"
          />
          @if (showFormErrors() && !newProduct.name) {
            <span
              class="error-msg"
              animate.enter="show-animated-enter-error"
              animate.leave="error-hide-animation"
              i18n="@@error.empty"
            >
              Can't be empty
            </span>
          }
        </div>

        <div class="input-group">
          <label for="new-price" i18n="@@common.price">Price</label>
          <input
            id="new-price"
            type="number"
            [(ngModel)]="newProduct.price"
            [class.error-input]="
              showFormErrors() && (newProduct.price === null || newProduct.price < 0)
            "
            min="0"
            placeholder="0.00"
          />
          @if (showFormErrors()) {
            @if (newProduct.price === null) {
              <span
                class="error-msg"
                animate.enter="show-animated-enter-error"
                animate.leave="error-hide-animation"
                i18n="@@error.priceReq"
              >
                Price required
              </span>
            } @else if (newProduct.price < 0) {
              <span
                class="error-msg"
                animate.enter="show-animated-enter-error"
                animate.leave="error-hide-animation"
                i18n="@@error.negative"
              >
                Can't be negative
              </span>
            }
          }
        </div>
      </div>

      <button
        i18n="@@common.submit"
        class="btn-primary"
        (click)="onAddProduct()"
        [class.saving]="isCreating()"
      >
        Submit
      </button>
    </div>
  </div>
}
