<nav #nav (mouseleave)="bgReset()">
  <li class="bgEl" [ngStyle]="{ 'left.px': bgElPosition(), 'width.px': bgElWidth() }"></li>
  <li>
    <a
      i18n="@@sessionLink"
      id="sessions"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="homeLink"
      (mouseenter)="moveBg($event)"
      >Sessions</a
    >
  </li>
  <li>
    <a
      i18n="@@productsLink"
      id="products"
      routerLink="/products"
      routerLinkActive="active"
      (mouseenter)="moveBg($event)"
      >Products</a
    >
  </li>
  <li>
    <a
      i18n="@@analyticsLink"
      id="analytics"
      routerLink="/analytics"
      routerLinkActive="active"
      (mouseenter)="moveBg($event)"
      >Analytics</a
    >
  </li>
</nav>
