header {
  padding: 2.4rem 4.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  height: 8.4rem;
  position: relative;
}

header .footing {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

@media screen and (max-width: 768px) {
  header {
    padding-inline: 2.4rem;
  }
}
