header {
  padding: 2.4rem 4.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  height: 8.4rem;
  position: relative;
}
header .heading {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

header h1 {
  font-family: 'Monoton', sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  cursor: pointer;
  margin-right: 8.4rem;
  color: var(--secondary-color);
}

header .footing {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
header .langSwitcher {
  cursor: pointer;
  border: 1px solid var(--border-color);
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-size: 1.6rem;
  padding: 0.4rem 1.2rem;
  border-radius: 4px;
  transition: 0.4s;
}
header .langSwitcher:hover {
  background-color: var(--hover-color);
}
header .langSwitcher:active {
  color: var(--primary-color);
}
@media screen and (max-width: 1024px) {
  header h1 {
    margin-right: 4.2rem;
  }
}
@media screen and (max-width: 768px) {
  header {
    padding-inline: 2.4rem;
  }
}
@media screen and (max-width: 375px) {
  header h1 {
    margin-right: 0;
  }
}
