:host {
  display: contents;
}
.notification-modal-cont {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  position: fixed;
  top: 2.4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--most-z);
}
.custom-alert {
  position: relative;
  z-index: var(--most-z);
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 0.8rem 2.4rem;
  border-radius: 50rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-size: 1.4rem;
  color: #fff;
  min-width: fit-content;
  line-break: anywhere;
}

.custom-alert.success {
  background-color: var(--success);
}

.custom-alert.error {
  background-color: var(--error);
}
.enter-animation-alert {
  animation: slide-fade-alert 1s;
}
.leave-animation-alert {
  animation: slide-out-alert 1s;
}
@keyframes slide-fade-alert {
  from {
    opacity: 0;
    transform: translate(0, -50px);
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-out-alert {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(0, -50px);
  }
}

@media screen and (max-width: 375px) {
  .notification-modal-cont {
    width: calc(100% - var(--total-padding-mobile));
    min-width: unset;
  }
}
.confirm-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: var(--most-z);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
}

.confirm-box {
  background: var(--hover-color);
  padding: 2.4rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: clamp(260px, 300px, 90%);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  text-align: center;
  font-size: 1.4rem;
  color: var(--text-color);
  background-color: var(--accent-color);
}

.confirm-box h3 {
  color: var(--secondary-color);
  font-size: 1.6rem;
}

.confirm-actions {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.confirm-actions button {
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.4s;
}
.confirm-actions button.btn-cancel:hover {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.confirm-actions button.btn-confirm:hover {
  background-color: transparent;
  border-color: var(--error);
  color: var(--error);
}
.confirm-actions button.btn-cancel:focus {
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.confirm-actions button.btn-confirm:focus {
  border-color: var(--error);
  color: var(--error);
  background-color: var(--hover-color);
}
.confirm-actions button:active {
  transform: scale(0.9);
}

.btn-cancel {
  background: var(--hover-color);
}

.btn-confirm {
  background: var(--error);
  color: #fff;
}

.fade-in {
  animation: fade-in 1s;
}
.fade-out {
  animation: fade-out 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}
