:host {
  display: contents;
}
.custom-alert {
  position: fixed;
  top: 2.4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 0.8rem 2.4rem;
  border-radius: 50rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-size: 1.4rem;
  color: #fff;
  min-width: fit-content;
  line-break: anywhere;
}

.custom-alert.success {
  background-color: var(--success);
}

.custom-alert.error {
  background-color: var(--error);
}
.enter-animation-alert {
  animation: slide-fade-alert 1s;
}
.leave-animation-alert {
  animation: slide-out-alert 1s;
}
@keyframes slide-fade-alert {
  from {
    opacity: 0;
    transform: translate(-50%, -50px);
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-out-alert {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50px);
  }
}

@media screen and (max-width: 375px) {
  .custom-alert {
    width: calc(100% - var(--total-padding-mobile));
    min-width: unset;
  }
}
