:host {
  display: flex;
}
.profileBtn {
  font-size: 3.2rem;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}
.profileBtn.open {
  transform: rotate(90deg);
}
.profileMenu {
  position: absolute;
  top: 100%;
  right: var(--padding-inline);
  background: var(--accent-color);
  color: var(--text-color);
  padding-block: 0.4rem;
  border-radius: 12px;
  width: 256px;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1.6rem;
  cursor: auto;
}
.profileMenu .username {
  color: var(--secondary-color);
}
.profileMenu > * {
  padding: 0.8rem 1.6rem;
  transition: 0.4s;
}

.profileMenu a:hover {
  background-color: var(--hover-color);
  color: var(--secondary-color);
}
.profileMenu a:active {
  color: var(--secondary-color);
}

.profileMenu .btnCont {
  padding: 0.8rem 1.6rem;
  width: 100%;
}
.profileMenu .logOutBtn {
  padding: 0.8rem 1.6rem;
  background-color: var(--secondary-color);
  color: var(--accent-color);
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.4s;
}
.profileMenu .logOutBtn:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}
.profileMenu .logOutBtn:active {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.profileMenu a {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
}
.profileMenu a.mobile {
  display: none;
}
.profileMenu a.active {
  background-color: var(--hover-color);
}
.active {
  color: var(--primary-color);
}

.enter-animation {
  animation: slide-in 1s;
}
.leave-animation {
  animation: slide-out 1s;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@media screen and (max-width: 768px) {
  .profileMenu a.mobile {
    display: flex;
  }

  .profileMenu {
    position: fixed;
    width: 250px;
    /* 8.4rem is fixed height of header */
    height: calc(100% - 8.4rem);
    top: 0;
    right: 0;
    margin-top: 8.4rem;
    justify-content: space-between;
    overflow-y: scroll;
    z-index: 10;
  }
  .profileMenu a,
  .profileMenu .themeCont {
    height: 100%;
  }
  .profileMenu .profileBtn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 475px) {
  .profileMenu {
    width: 100%;
    left: 0;
    border-radius: 0;
    right: unset;
  }
}
