.langSwitcher {
  cursor: pointer;
  border: 1px solid var(--border-color);
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-size: 1.6rem;
  padding: 0.4rem 1.2rem;
  border-radius: 4px;
  transition: 0.4s;
}
.langSwitcher:hover {
  background-color: var(--hover-color);
}
.langSwitcher:active {
  color: var(--primary-color);
}
