:host {
  flex: 1;
}
h1 {
  font-size: 2.4rem;
  color: var(--secondary-color);
  margin-bottom: 2.4rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: var(--hover-color);
  padding: 1.2rem;
  border-radius: 12px;
  width: fit-content;
}
.profileInfoCont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
  width: fit-content;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.textCont {
  gap: 1.6rem;
  display: flex;
  flex-direction: column;
}
.usernameCont,
.emailCont {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.usernameCont label,
.emailCont label {
  color: var(--secondary-color);
}

.emailCont ::placeholder {
  color: var(--text-color);
}
.usernameCont input,
.emailCont input {
  transition: 0.4s;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  padding: unset;
  background-color: transparent;
  color: var(--text-color);
  font-size: 1.6rem;
  border-radius: 4px;
}
.textCont input.editableInput {
  padding: 0.8rem 1.6rem;
  border-radius: 8px;
  border-color: var(--border-color);
  background-color: var(--accent-color);
}

.textCont input.editableInput:focus {
  outline-color: var(--primary-color);
}
.profileInfoHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5.4rem;
}
h2 {
  font-size: 1.8rem;
}
.btn-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 1.2rem;
  font-size: 1.4rem;
  border: 1px solid transparent;
  outline: 1px solid var(--border-color);
  color: var(--primary-color);
  gap: 0.4rem;
  transition: 0.4s;
  cursor: pointer;
  border-radius: 50rem;
  font-size: 1.6rem;
  background-color: var(--accent-color);
  color: var(--text-color);
}

.btn-secondary:hover {
  outline-color: var(--primary-color);
}

.btn-secondary:focus {
  outline-color: var(--primary-color);
}
.btn-primary:active {
  transform: scaleX(1.03);
}
.btn-secondary .material-symbols-outlined {
  font-size: 1.8rem;
}
.btn-primary {
  --spinner-border-color: var(--accent-color);
  --spinner-primary-color: var(--secondary-color);
  border-radius: 50rem;
  font-size: 1.6rem;
  background-color: var(--primary-color);
  color: #fff;
  transition: 0.4s;
  border: 1px solid transparent;
  outline: 1px solid var(--border-color);
  padding: 0.4rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-height: 3.4rem;
}

.btn-primary:disabled {
  cursor: not-allowed;
}
.btn-primary:valid:hover {
  --spinner-border-color: var(--primary-color);
  --spinner-primary-color: var(--background-color);

  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-primary:focus {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.btn-primary:active {
  background-color: var(--border-color);
}
.formCard {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4.8rem;
}
.usernameCont input.error-border,
.emailCont input.error-border {
  border-color: var(--error);
}
.error-msg {
  position: absolute;
  top: 100%;
  color: var(--error);
  font-size: 1.2rem;
}
.avatar-placeholder {
  border-radius: 50%;
  width: 84px;
  height: 84px;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  color: var(--secondary-color);
}
.data-loading {
  background: linear-gradient(
    90deg,
    var(--border-color) 25%,
    var(--accent-color) 50%,
    var(--border-color) 75%
  );
  background-size: 400% 100%;
  animation: shimmer 3s infinite linear;
}
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
.avatarCont {
  position: relative;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  overflow: hidden;
}
.avatarCont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
  cursor: pointer;
  border-radius: 50%;
}
.avatarCont:has(input):hover img,
.avatarCont img:hover {
  opacity: 0.6;
}
.avatarCont #avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: var(--header-z);
  cursor: pointer;
}
.subDesc {
  font-size: 1.6rem;
}
.subTier {
  font-size: 1.6rem;
  color: var(--secondary-color);
}

.subInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  gap: 1.2rem;
  flex: 1;
}
.subInfo .btn-secondary {
  width: 100%;
}
.actionsCont {
  justify-content: space-between;
  gap: 2.4rem;
  width: 100%;
  gap: 1.2rem;
}
.actionsCont .btn-secondary {
  padding: 0.4rem 1.2rem;
}
.del.btn-primary {
  background-color: var(--error);
  color: #fff;
}

.confirmCont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--most-z);
  font-size: 1.6rem;
  background-color: #00000080;
}
.notyCont {
  width: 260px;
  text-align: center;
}
.show-animated-enter {
  animation: show-animated-enter 2s;
}

.btnsCont {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.btnsCont button {
  color: #fff;
  width: 100%;
}
.btnsCont .yes {
  background-color: var(--error);
}
.btnsCont .no {
  background-color: var(--primary-color);
}
@keyframes show-animated-enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .profileInfoCont {
    grid-template-columns: 1fr;
    justify-items: stretch;
    place-items: center;
  }
  :host {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 475px) {
  .formCard {
    gap: 2.4rem;
  }
}
@media screen and (max-width: 375px) {
  .formCard {
    flex-direction: column;
  }
  .profileInfoCont {
    width: 100%;
  }
  .wrapper {
    width: 100%;
  }
}
