<h1 i18n="@@settings.pageTitle">Account Settings</h1>
<div class="profileInfoCont">
  <div class="wrapper">
    <div class="profileInfoHeading">
      <h2 i18n="@@settings.profileInfo">Profile info</h2>
      <button class="btn-secondary" (click)="toggleEditingState()">
        @if (isEditing()) {
          <span class="material-symbols-outlined">cancel </span>
          <p i18n="@@common.cancel">Cancel</p>
        } @else {
          <span class="material-symbols-outlined">edit </span>
          <p i18n="@@common.edit">Edit</p>
        }
      </button>
    </div>
    <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
      <div class="formCard">
        <div class="avatarCont">
          @if (profileForm.get('avatar_url')?.value) {
            <img
              [src]="profileForm.get('avatar_url')?.value"
              class="avatar-preview"
              animate.enter="show-animated-enter"
            />
          } @else {
            <div class="avatar-placeholder" [class.data-loading]="loading()">
              {{ profileForm.get('username')?.value?.slice(0, 1)?.toUpperCase() }}
            </div>
          }

          @if (isEditing()) {
            <input
              id="avatar"
              type="file"
              accept="image/png, image/jpeg, image/webp"
              (change)="onAvatarSelected($event)"
            />
          }
        </div>
        <div class="textCont">
          <div class="usernameCont">
            <label for="username" i18n="@@settings.labelUsername">Username</label>
            <div class="inputCont" [class.data-loading]="loading()">
              <input
                id="username"
                type="text"
                [readonly]="!isEditing()"
                formControlName="username"
                [class.error-border]="
                  profileForm.get('username')?.invalid && profileForm.get('username')?.touched
                "
                [class.editableInput]="isEditing()"
                animate.enter="show-animated-enter"
              />
            </div>
            @if (
              (profileForm.get('username')?.hasError('minlength') ||
                profileForm.get('username')?.hasError('required')) &&
              profileForm.get('username')?.touched
            ) {
              <span class="error-msg" i18n="@@settings.errorMinChars"
                >Must be at least 3 characters</span
              >
            }
          </div>
          <div class="rateCont">
            <label for="rate" i18n="@@settings.rate">Hourly rate</label>
            <div class="inputCont" [class.data-loading]="loading()">
              <input
                id="rate"
                min="0"
                required
                type="number"
                [readonly]="!isEditing()"
                formControlName="rate"
                [class.error-border]="
                  profileForm.get('rate')?.invalid && profileForm.get('rate')?.touched
                "
                [class.editableInput]="isEditing()"
                animate.enter="show-animated-enter"
              />
            </div>
            @if (
              (profileForm.get('rate')?.hasError('min') ||
                profileForm.get('rate')?.hasError('required')) &&
              profileForm.get('rate')?.touched
            ) {
              <span class="error-msg" i18n="@@settings.errorRate">Must be a positive number</span>
            }
          </div>
        </div>
      </div>
      <button
        type="submit"
        class="btn-primary"
        [disabled]="loading() || profileForm.invalid || profileForm.pristine"
      >
        @if (updating()) {
          <app-spinner></app-spinner>
        } @else {
          <p i18n="@@common.save">Save</p>
        }
      </button>
    </form>
  </div>
  <div class="wrapper actionsCont">
    <h2 i18n="@@settings.manage">Manage Account</h2>
    <form [formGroup]="emailForm" (ngSubmit)="saveEmail()" class="emailForm">
      <div class="emailCont">
        <label for="email" i18n="@@settings.labelEmail">Email</label>
        <div class="inputCont" [class.data-loading]="loading()">
          <input
            id="email"
            type="email"
            formControlName="email"
            class="editableInput"
            animate.enter="show-animated-enter"
          />
        </div>
        @if (emailForm.get('email')?.hasError('email') && emailForm.get('email')?.touched) {
          <span class="error-msg" i18n="@@settings.errorEmail">Please enter a valid email</span>
        }
      </div>
      <button
        type="submit"
        class="btn-secondary"
        [disabled]="updatingEmail() || emailForm.invalid || emailForm.pristine"
      >
        @if (updatingEmail()) {
          <app-spinner></app-spinner>
        } @else {
          <p i18n="@@common.save">Save</p>
        }
      </button>
    </form>

    <button i18n="@@common.delete" class="btn-primary del" (click)="onDelete()">
      Delete Account
    </button>
  </div>
</div>
