:root {
  --primary-color: #fca311;
  --secondary-color: #fff;
  --background-color: #000000;
  --accent-color: #0a0a0a;
  --text-color: #a1a1a1;
  --border-color: #2d2d2d;
  --hover-color: #1f1f1f;
  --active-color: #cfdbd5;
  --error: #dc2626;
  --success: #44bba4;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #a855f7;
    --secondary-color: #000;
    --background-color: #fafafa;
    --accent-color: #fff;
    --text-color: #666666;
    --hover-color: #ebebeb;
    --border-color: #e1e1e1;
    --error: #dc2626;
    --success: #44bba4;
    --active-color: #cfdbd5;
  }
}
:root[data-theme='light'] {
  color-scheme: light;
  --background-color: #fafafa;
  --primary-color: #a855f7;
  --secondary-color: #000;
  --text-color: #666666;
  --hover-color: #ebebeb;
  --border-color: #e1e1e1;
  --accent-color: #fff;
  --error: #dc2626;
  --success: #44bba4;
  --active-color: #cfdbd5;
  --leftPostition: 0;
}

:root[data-theme='dark'] {
  color-scheme: dark;
  --primary-color: #fca311;
  --secondary-color: #fff;
  --background-color: #000000;
  --accent-color: #0a0a0a;
  --text-color: #a1a1a1;
  --border-color: #2d2d2d;
  --hover-color: #1f1f1f;
  --active-color: #cfdbd5;
  --error: #dc2626;
  --success: #44bba4;
  --leftPostition: calc(100% - 26px);
}
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
a {
  text-decoration: none;
  color: inherit;
}
html {
  font-size: 62.5%;
  color-scheme: light dark;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
a:visited {
  color: var(--text-color);
}
html.disable-transitions *,
html.disable-transitions *::before,
html.disable-transitions *::after {
  transition: none !important;
}
