:host {
  display: flex;
  width: 100%;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  height: 100%;
}

.themeCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.themeToggle {
  display: flex;
  gap: 1.2rem;
  border: 1px solid var(--text-color);
  border-radius: 50rem;
  font-weight: 400;
  overflow: hidden;
  position: relative;
}
.themeBackgroundElement {
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--primary-color);
  left: var(--leftPostition);
  transition: 0.6s ease-in-out !important;
  z-index: 0;
}
.themeToggle button {
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
  transition: 0.4s;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}
.themeToggle button span {
  color: var(--secondary-color);
  padding: 0.4rem;
  border-radius: 50%;
  font-size: 1.8rem;
  transition: 0.4s;
  width: 26px;
  height: 26px;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.themeToggle button span.sun.animate {
  animation: sun-move 1.2s ease-in-out forwards;
}
.themeToggle button span.moon.animate {
  animation: moon-move 1.2s ease-in-out forwards;
}

@keyframes sun-move {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    transform: translateY(-120%);
    opacity: 0;
  }
  41% {
    transform: translateY(120%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moon-move {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    transform: translateY(120%);
    opacity: 0;
  }
  41% {
    transform: translateY(-120%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
