<span class="material-symbols-outlined profileBtn" (click)="toggleState()" [class.open]="open()">
  {{ open() ? 'close' : 'menu' }}
</span>

@if (open()) {
  <div
    class="profileMenu"
    (click)="$event.stopPropagation()"
    animate.enter="enter-animation"
    animate.leave="leave-animation"
  >
    <p class="username">Oto Gelashvili</p>
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="mobile"
      ><p i18n="@@sessionsLink">Sessions</p>
      <span class="material-symbols-outlined"> home </span>
    </a>
    <a routerLink="/products" routerLinkActive="active" class="mobile"
      ><p i18n="@@productsLink">Products</p>
      <span class="material-symbols-outlined"> box_add </span>
    </a>
    <a routerLink="/analytics" routerLinkActive="active" class="mobile"
      ><p i18n="@@analyticsLink">Analytics</p>
      <span class="material-symbols-outlined"> analytics </span>
    </a>
    <a routerLink="/settings" routerLinkActive="active"
      ><p i18n="@@settingLink">Settings</p>
      <span class="material-symbols-outlined"> settings </span>
    </a>
    <app-theme-switcher></app-theme-switcher>
    <div class="btnCont">
      <button class="logOutBtn" (click)="signOut()">
        @if (loading()) {
          <app-spinner></app-spinner>
        } @else {
          <span i18n="@@logOutBtn">Log out</span>
        }
      </button>
    </div>
  </div>
}
@if (errorMsg() !== null) {
  <div class="logOut-error" animate.enter="enter-animation-logOut-error">
    <svg width="20" height="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18L18 6M6 6l12 12"
      />
    </svg>
    <span>{{ errorMsg() }}</span>
  </div>
}
